body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: pink;
}
section, header { padding: 60px 10%; }
.hero h1 {
  font-size: 6rem;
  line-height: 0.9;
  margin: 0;
}
.small { letter-spacing: 4px; font-size: 0.8rem; }
.subtitle { font-size: 1.3rem; margin-top: 20px; }
.about { font-size: 2rem; border-top: 1px solid #ddd; }
.projects h2, .contact h2 { font-size: 2rem; }
.card {
  padding: 25px;
  margin: 15px 0;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.card:hover {
  transform: translateX(10px);
  background: #f5f5f5;
}
@media(max-width:768px){
.hero h1 { font-size: 3rem; }
.about { font-size: 1.4rem; }
}
